{% extends 'core/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <link rel='stylesheet' type='text/css' href='{% static 'css/base-style.css' %}'/>
    <div class='container'>
        <br>
        <form method='post'>
            {% csrf_token %}
            <div class='form-box-textbox'>
                {{ form | crispy }}
            </div>
            <div class='form-box-submit'>
                <input type='submit' class='btn btn-primary btn-block' style='margin-top: 25px;' value='Add account'>
            </div>
        </form>
    </div>
{% endblock %}